.container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.card{
    border: 1px solid #e5e7eb;
    padding: 20px; 
    border-radius: 20px;
    width: 50vh;
    margin: 20px;
}

/* ====================
   LOGO, TITULO E SUBTITULO
==================== */

.logo{
    width: 170px;
    height: 150px;
}

.cardTitle{
    text-align: center;
    margin-bottom: 20px;
}

.title{
    font-size: 25px;
    margin-bottom: 5px;
}

.subTitle{
    font-size: 16px;
    color: rgb(155, 150, 150);
    justify-self: center;
    width: 80%;
}

/* ====================
   FORMULÁRIO
==================== */

.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 15px;
}

.form div{
    display: flex;
    flex-direction: column;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.icon {  
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #5e5e5fa8;
  font-size: 13px;
}

.input{
    background-color: #e7e8e9;
    width: 100%;
    padding: 12px 12px 12px 45px;
    border-radius: 8px;
    border: none;    
}

.form div label{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.form button{
    background: linear-gradient(
     to right,
     #f97316,
     #dc2626
);
    color: white;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    margin-top: 5px;
    border: 0px;
    font-weight: bold;
}

/* ====================
   CAMPO PARA REGISTRAR
==================== */

.register{
    text-align: center;
    font-size: 13px;
}

.registerLink{
    color: #f97316;
    font-weight: bold;
    text-decoration: none;
}

/* ====================
   ERROS
==================== */

.errors{
    color: #c50808;
    font-size: 12px;
}

.erroLogar{
    color: #c50808;
    font-size: 15px;
    text-align: center;
}